<div class="row d-flex justify-content-around background">

  <div class="login-card">
    <h2 class="page-title title">Login</h2>
    <form>
      <div class="mb-3">
        <label for="user-login" class="form-label">Username</label>
        <input type="text" class="form-control" id="user-login" placeholder="Username">
      </div>
      <div class="mb-3">
        <label for="password-login" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-login" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>

  <div class="login-card">
    <h2 class="page-title title">Sign Up</h2>
    <form>
      <div class="mb-3">
        <label for="username-signup" class='content'>Username</label>
        <input class="form-control" type="text" id="username-signup" placeholder="Username">
      </div>
      <div class="mb-3">
        <label for="password-signup" class='content'>Password</label>
        <input class="form-control" type="password" id="password-signup" placeholder="Password">
      </div>
      <div class="mb-3">
        <label for="password-signup-confirm" class='content'>Retype Password</label>
        <input class="form-control" type="password" id="password-signup2" placeholder="Retype Password">
      </div>
      {{!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          Gender
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Male Trainer</a></li>
          <li><a class="dropdown-item" href="#">Female Trainer</a></li>
          <li><a class="dropdown-item" href="#">Randomize!</a></li>
        </ul>
      </div> --}}
      <div class="mb-3">
        <button class="btn btn-primary" type="submit" class='content'>Sign up</button>
      </div>
    </form>
  </div>

</div>

<script src='/js/menu/login.js'></script>